@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", Calibri, Verdana, Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 10px 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

label {
  font-size: 1rem;
  font-weight: 800;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.details {
  margin-top: 30px;
  color: #3498db;
  display: flex;
  justify-content: space-between;
}
.name {
  text-align: left;
}
.foot a {
  color: #3498db;
}
.foot {
  font-size: 1rem;
  text-align: center;
}

.form-group {
  margin: 5px 0;
}

button,
.logout,
.upload {
  width: 100%;
  padding: 12px 0;
  background-color: #3498db;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2185d0;
}

.alert {
  font-size: 1rem;
  line-height: 1rem;
  color: black;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 0.7rem;
  /* border: 1px solid red; */
  border-radius: 4px;
}
.alert-success {
  background-color: hsla(120, 73%, 75%, 0.4);
}
.alert-error {
  background-color: hsla(351, 100%, 86%, 0.8);
}
.alert-warning {
  background-color: rgb(255, 255, 208);
}
.error-msg {
  color: hsla(0, 94%, 57%, 1);
  text-align: right;
  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
}
.logout {
  position: fixed;
  width: fit-content;
  top: 25px;
  right: 25px;
}
.logout a {
  padding: 8px 18px;
  color: whitesmoke;
  text-decoration: none;
}
.top {
  display: flex;
  justify-content: space-between;
}
.upload {
  padding: 3px 10px;
  width: fit-content;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .logout {
    bottom: 25px;
    right: 5px;
  }
}
